body { 
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    
}

.box {
    margin: 20px auto;
    position: relative;
    width: 1180px;
    height: 1180px;
    background: #659475;
    
    
}
    
/* main styles */
.main {
    margin: 40px auto;
    width: 1120px;
    height: 1120px;
    display: flex; 
    flex-direction: row-reverse;
    padding-top: 28px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 0px;
    
}

.main_content { 
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 70px 90px 90px;
    padding-right: 90px;
    
}

/* about styles */
.about {
    margin-bottom: 10px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #00771a;
    margin-bottom: 10px;
}

.about-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}


.about-discription {
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #3f3f3f;
    width: 580px;
    text-align: justify;
    margin-bottom: 50px;
}


/* Projects */
.projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.projects-list {
    padding: 0px;
    margin-left: 15px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* work styles */
.work {
    margin-bottom: 15px;
    width: 580px;
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;

}

.oline {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.organization {
    color: #00771a;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #8d8d8d;
    margin-bottom: 5px;
    margin-top: 5px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;

}

.work-list {
  padding: 0px;
  margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;    
}

.education {
    width: 327px;
    height: 114px;
    padding-bottom: 90px;
    padding-top: 30px;
}

.edu-title {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
}

.school {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #00771a;
    margin-bottom: 5px;
    margin-top: 15px;
}

.spec {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
}

/* sidebar styles */
.sidebar { 
    padding-top: 50px ;
    background-color: #3a665c ;
}
.photo { 
    width: 370px;
    margin-bottom: 20px;
}

.email {
    width: 40px;
    margin-right: 5px;
    

}

.tel {
    width: 30px;
    margin-right: 10px;
    padding-left: 5px;

}

.sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;  
    margin-bottom: 10px;
}

.contacts, .tech-skills, .soft-skills {
    margin-left: 70px;
}

.tech-skills {
    margin-bottom: 45px;
}

.contacts {
    margin-bottom: 40px;
}

.contact-type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4f2e9b;
   
}

.TeSo-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
}

.TeSo-item {
    color: #c105ff;
}

.TeSo-text {
    color: #F5F7FA;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
}